*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* *******html element styling************ */

html{
    font-size: 62.5%;
}


body{
    font-family: 'Montserrat' , sans-serif;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

/* *************utility classes******** */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;
    text-transform: uppercase;
}
.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}

.text-gray{
    color: #555;
}

.bg-dark{
    background-color: #263238;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: white;
    border-radius: 10em;
}
.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    background-color: #fff;
    color: #e63946;
}

.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}
/* *****headers styling*************** */
.header{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('../image/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navbar{
    /* border: 2px solid white; */
    /* margin-top: 3rem; */
    padding: 1rem;
}
.navbar .logo{
    color: white;
    float: left;
}

.navbar .nav-items a{
    color: white;
}

 .navbar .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar .nav-item{
    display: inline;
    padding: 1rem;
    text-transform: uppercase;
    
}
.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}
.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;

}
.navbar::after{
    content: "";
    display: block;
    clear: both;
}

/* *****************header content style*************** */

.header-content{
    /* border: 1px solid white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}

.header-content p{
    text-transform: uppercase;
    /* font-weight: ; */
}

/* ****************showcase section styling*************** */

.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    /* border: 2px solid red; */
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #aaa;
}

.row1{
    margin-bottom: 10rem;
}

.row1 .img-box , .row2 .text-box{
    float: left;
    width: 50%;
}
.row2 .img-box , .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
    
}

.row .text-box{
    padding: 3rem;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

/* *************************feature section styling********************** */

.features{
    padding: 10rem 0;
}

.box-wrapper{
    /* border: 2px solid green; */
    box-shadow: 5px 5px 20px 0px rgba(102, 102, 102, 0.327);
}

.box{
    width: 33.33%;
    float: left;
    /* border: 2px solid red; */
    padding: 2rem;
    text-align: center;
}

.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.box-1 , .box-3{
    background-color: #263238;
    color: white;
}

.box-2{
    background:linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: white;
}
.footer{
    text-align: center;
    background-color: #263238;
    color: #f4f4f4;
    padding: 2rem;
}

.footer .social-media-links i{
    margin: 2rem;
}

/* **************about page styling******************* */

.about{
    padding: 5rem 0;
}

/* .about-heading{
    border-bottom: 6px solid #e63946;
} */

.about-heading::after{
    content: '';
    border: 3px solid #e63946;
    /* color: #e63946; */
    display: block;
    width: 100%;

}

/* *******************about wrapper styling****************8 */

.about-wrapper{
   /* border: 2px solid red; */
   text-align: center;
   margin-top: 2rem;
}
.about-wrapper .left{
    float: left;
    width: 50%;
}

.about-wrapper .right{
    float: right;
    width: 50%;
 
}

.about-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.about-wrapper li::before{
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;

}

/* *******************count styling*********************** */

.counts{
    /* border: 2px solid black; */
    margin-top: 3rem;
}

.count-item{
    float: left;
    width: 25%;
    /* border: 2px solid red; */
    text-align: center;
}

.counts::after{
    content: "";
    display: block;
    clear: both;
}

.count-item span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}

.count-item p{
    font-weight: 700;
    color: #555;
    font-size: 1.8rem;
}

/* *****************banner styling*********************** */

.cta-banner{
     background:linear-gradient(25deg,#d64c7f,#ee4758 50%);
     color: #f4f4f4;
     padding: 1rem;
     margin-top: 3rem;
     box-shadow: 5px 5px 10px #00000058;
}

.cta-banner-left{
    float: left;
    width: 60%;
}

.cta-banner-right{
    width: 40%;
    float: right;
    text-align: right;
}
.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}
.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3rem 2.5em;
    letter-spacing: 0.5rem;
    color: #f4f4f4;
}

.cta-banner::after{
    content: "";
    display: block;
    clear: both;
}

/* **************contact page styling********************* */

.contact-form{
    padding: 5rem 0;
    font-size: 2rem;
    background: #f7f7f7;
}

/* .form-wrapper{
    border: 10px solid red;
} */

.form-wrapper .company-address{
    background: #fff;
    /* border: 4px solid green; */
    width: 49%;
    float: left;
    padding: 1rem;
    height: 760px;
}

.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}
.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
    
}



.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.form-wrapper .company-address img{
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}
.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

/* *****************form styling***************  */
 .form-wrapper .form{
    background: #fff;
    /* border: 4px solid black; */
    width: 49%;
    float: right;
    font-size: 1.6rem;
    padding: 1rem;
    height: 760px;
}

.form h1::after{
    content: "";
    width: 100%;
    border: 3px solid #ee4758;
    display: block;
}

.form-wrapper label{
    display: block;
    margin-bottom: 5px;
}

.form-wrapper input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    border-bottom: 1.2rem;
    margin-bottom: 5px;
}

.form-wrapper .form label::after{
    content: '* ';
    color: #e63946;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: #e63946;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;

}

/* ************************Media queries************************ */

@media (max-width : 500px){
    html{
        /* font-size: 8px; */
        font-size: 50%;
    }
   .navbar .nav-items, .navbar .logo{
    float: none;
    display: block;
    width: 100%;
    text-align: center;
   }

   .row{
    height: auto;
    width: 100%;
   }

   .row .img-box, .row .text-box{
    float: none;
    width: 100%;
    text-align: center;
   }
   .features .box{
    float: none;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
   }

   .features .box-2, .features .box-3{
    margin-top: 7rem;
   }

   .box-wrapper {
    box-shadow: none;
   }
   .cta-banner-left , .cta-banner-right{
    float: none;
    width: 100%;
    text-align: center;
   }

   .form-wrapper .company-address{
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: auto;
   }

   .form-wrapper .form{
    float: none;
    width: 100%;
    height: auto;
   }
}

@media(min-width:501px) and( max-width:768px){
    html{
        font-size: 8px;
        /* font-size: 50%; */
    }

    p{
        font-size: 1.8rem;
    }
   .navbar .nav-items, .navbar .logo{
    float: none;
    display: block;
    width: 100%;
    text-align: center;
   }

   .row{
    height: auto;
    width: 100%;
   }

   .row .img-box, .row .text-box{
    float: none;
    width: 100%;
    text-align: center;
   }
   .features .box{
    float: none;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
   }

   .features .box-2, .features .box-3{
    margin-top: 7rem;
   }

   .box-wrapper {
    box-shadow: none;
   }
   .cta-banner-left , .cta-banner-right{
    float: none;
    width: 100%;
    text-align: center;
   }

   .form-wrapper .company-address{
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: auto;
   }

   .form-wrapper .form{
    float: none;
    width: 100%;
    height: auto;
   }  
}

@media(min-width: 769px) and (max-width:1200px){
    html{
        font-size: 56.25%;
    }

    .row .text-box h2{
        font-size: 2.2rem;
        font-weight: 500;
    }
}

@media(orientation: landscape) and(max-height:500px){
    .header{
        height: 90vmax;
    }
}